:root {
    --color-main      : #d60b0b;
    --color-secondary : #bb0f0f;
    --color-tertiary  : #0046FE;
    --color-quaternary: #3b6ff2;
    --color-black     : #151414;
    --color-semiblack : #202020;
    --color-dark      : #0c0b0b;
    --color-light     : #fcfcfc;
    --color-white     : #f3f2f2;
    --color-light-grey: #cfcfcf;
    --color-semigrey  : #565555;
    --color-grey      : #535151;
}

/* Fonts */

@font-face {
    font-family: "aero";
    src        : url("../fonts/aeroxys/Aeroxys.ttf") format("truetype");
}

@font-face {
    font-family: "schabo";
    src        : url("/../fonts/schabo/SCHABO-Condensed.otf") format("truetype");
}

@font-face {
    font-family: "neue";
    src        : url("../fonts/neue/NeueMontreal-Regular.otf") format("truetype");
}

@font-face {
    font-family: "neue-medium";
    src        : url("../../fonts/neue/NeueMontreal-Medium.otf") format("truetype");
}

@font-face {
    font-family: "ahsing";
    src        : url("../../fonts/Ahsing/Ahsing-Regular.otf") format("truetype");
}

@font-face {
    font-family: "matter";
    src        : url("../../fonts/matter-font/Matter-Regular.ttf") format("truetype");
}


/* cursor styles */
.cursor {
    pointer-events  : none;
    position        : absolute;
    padding         : 0.3vw;
    border-radius   : 50%;
    z-index         : 9000;
    transition      : transform 0.1s ease, width 0.3s ease, height 0.3s ease, background-color 0.5s ease;
    background-color: var(--color-semigrey);
}

.light-mode .cursor {
    background-color: var(--color-black);
}

body {
    margin          : 0;
    overflow        : hidden;
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : 100vh;
    background-color: var(--color-dark);
    font-family     : Arial, sans-serif;
}

body.light-mode {
    background-color: var(--color-white);
}

#intro-container {
    text-align: center;
    color     : var(--color-white);
    position  : relative;
    z-index   : 1;
}

h1 {
    font-size  : 4.9rem;
    opacity    : 0;
    font-family: "aero";
    font-weight: lighter;
    color      : var(--color-main);
    transition : color 0.5s ease;
}

.light-mode h1 {
    color: var(--color-tertiary);
}

#counter {
    font-size  : 1em;
    margin-top : 1rem;
    opacity    : 0;
    font-family: "neue";
    color      : var(--color-white);
}

.light-mode #counter {
    color: var(--color-black);
}

#square-container {
    position: fixed;
    top     : 0;
    left    : 0;
    width   : 100vw;
    height  : 100vh;
    z-index : 2;

    display              : grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    /* Ajusta el tamaño de los cuadrados */
    grid-template-rows   : repeat(auto-fill, minmax(100px, 1fr));
    /* Ajusta el tamaño de los cuadrados */
    gap                  : 0;
    /* Asegúrate de que no haya espacio entre los cuadrados */
    overflow             : hidden;
    /* Evita el desbordamiento */
}

.square {
    background-color: var(--color-secondary);
    width           : 100%;
    height          : 100%;
    opacity         : 0;
}

.light-mode .square {
    background-color: var(--color-quaternary);
}