<!-- Librarys -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/smooth-scrollbar@8.5.2/dist/smooth-scrollbar.js"></script>
<!-- Scripts Modules -->
<script src="<?php echo base_url('assets/js/home/navbar.js'); ?>"></script>
<script src="<?php echo base_url('assets/js/home/scroll-animation.js'); ?>"></script>
<script src="<?php echo base_url('assets/js/home/scroll-top.js'); ?>"></script>
<script src="<?php echo base_url('assets/js/home/particle.js'); ?>"></script>
<script src="<?php echo base_url('assets/js/home/subtext.js'); ?>"></script>
<script src="<?php echo base_url('assets/js/home/encryption.js'); ?>"></script>
<script src="<?php echo base_url('assets/js/home/cursor.js'); ?>"></script>
<script src="<?php echo base_url('assets/js/home/faq.js'); ?>"></script>
<script src="<?php echo base_url('assets/js/home/cookies.js'); ?>"></script>
</body>

</html>