<!-- modules section starts here -->
<?= $this->include('modules/home/views/header.html'); ?>
<?= $this->include('modules/home/views/navbar.html'); ?>
<?= $this->include('modules/home/views/home.html'); ?>
<?= $this->include('modules/home/views/software.html'); ?>
<?= $this->include('modules/home/views/features.html'); ?>
<?= $this->include('modules/home/views/about.html'); ?>
<?= $this->include('modules/home/views/faq.html'); ?>
<?= $this->include('modules/home/views/footer.html'); ?>
<?= $this->include('modules/home/views/closing.html'); ?>
<!-- modules section ends here -->