<section id="software">
    <div class="section-header hidden">
        <h2><i class="fa-brands fa-uncharted"></i></h2>
    </div>
    <div class="section-content">
        <div class="text-image-block hidden" id="what-is">
            <div class="text hidden">
                <h3>What is it?</h3>
                <h4>SOFTWARE | VULNERABILITY | SCAN | NETWORKS</h4>
                <p>
                    It is a software designed to analyze available WiFi networks. Upon selecting a specific network,
                    the software can perform the following functions:
                </p>
                <ul>
                    <li>
                        <i class="fa-solid fa-magnifying-glass"></i> Scan the network to detect <span>connected devices.</span>
                    </li>
                    <li>
                        <i class="fa-brands fa-windows"></i> Identify the <span>operating system</span> of each device.
                    </li>
                    <li>
                        <i class="fa-solid fa-circle-exclamation"></i> Assess the <span>vulnerabilities</span> of connected devices, if possible.
                    </li>
                    <li>
                        <i class="fa-brands fa-raspberry-pi"></i> Use a <span>Raspberry Pi</span> for data collection.
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="text-image-block hidden" id="who-for">
            <div class="text hidden">
                <h3>Who is it for?</h3>
                <h4>INDIVIDUALS PASSIONATE ABOUT CYBERSECURITY</h4>
                <p>
                    It is for individuals who are <span>passionate</span> about <span>cybersecurity</span> and want
                    to add an extra layer of <span>security</span> to their networks by performing <span>daily diagnostics</span>
                    to enhance the <span>safety</span> of their WiFi.
                </p>
            </div>
        </div>
        <hr>
        <div class="text-image-block hidden" id="origin">
            <div class="text hidden">
                <h3>How did it start?</h3>
                <h4>FROM AN IDEA TO A PROJECT</h4>
                <p>
                    It began as a <span>mere idea</span>, but after giving it some thought, we realized it would be a
                    <span>great project</span> for the thesis we needed to present. We conducted research until we
                    could <span>solidify this fantastic concept.</span> The more we studied the topic, the more
                    passionate we became about developing <span>this project for the community.</span>
                </p>
            </div>
        </div>
    </div>
</section>