:root {
    --color-main      : #d60b0b;
    --color-secondary : #bb0f0f;
    --color-black     : #151414;
    --color-semiblack : #202020;
    --color-dark      : #0c0b0b;
    --color-light     : #fcfcfc;
    --color-white     : #f3f2f2;
    --color-light-grey: #cfcfcf;
    --color-semigrey  : #565555;
    --color-grey      : #535151;
}

/* Fonts */

@font-face {
    font-family: "aero";
    src        : url("../../fonts/aeroxys/Aeroxys.ttf") format("truetype");
}

@font-face {
    font-family: "schabo";
    src        : url("../../fonts/schabo/SCHABO-Condensed.otf") format("truetype");
}

@font-face {
    font-family: "neue";
    src        : url("../../fonts/neue/NeueMontreal-Regular.otf") format("truetype");
}

@font-face {
    font-family: "neue-medium";
    src        : url("../../fonts/neue/NeueMontreal-Medium.otf") format("truetype");
}

@font-face {
    font-family: "ahsing";
    src        : url("../../fonts/Ahsing/Ahsing-Regular.otf") format("truetype");
}

@font-face {
    font-family: "matter";
    src        : url("../../fonts/matter-font/Matter-Regular.ttf") format("truetype");
}


* {
    padding    : 0;
    margin     : 0;
    box-sizing : border-box;
    font-family: 'neue', sans-serif;
    font-weight: 400;
}

.caps-lock-warning {
    display         : none;
    position        : absolute;
    left            : 50%;
    transform       : translateX(-50%);
    padding         : 10px;
    background-color: var(--color-secondary);
    color           : var(--color-black);
    text-align      : center;
    font-size       : 14px;
    border          : 1px solid var(--color-light-grey);
    border-radius   : 5px;
    z-index         : 1000;
    user-select     : none;
    /* Asegura que esté por encima del formulario */
}

/* Ajuste para el formulario de login */
.caps-lock-warning.login {
    top: 160px;
    /* Top ajustado para el login */
}

/* Ajuste para el formulario de registro */
.caps-lock-warning.signup {
    top: 130px;
    /* Top ajustado para el registro */
}


.caps-lock-warning.active {
    display: block;
}

/* mensaje de alerta */
.message {
    position     : fixed;
    top          : 0;
    margin-top   : 10px;
    left         : 43%;
    width        : 15%;
    border-radius: 10px;
    padding      : 10px;
    text-align   : center;
    z-index      : 1000;
    box-sizing   : border-box;
}

.error {
    background-color: var(--color-black);
    color           : var(--color-secondary);
    border          : 1px solid var(--color-grey);
}

.error.signup {
    top: 100px;
}

.error.login {
    top: 155px;
}

.success {
    background-color: #d4edda;
    color           : #155724;
    border          : 1px solid #c3e6cb;
}

#particles-js {
    position      : absolute;
    width         : 100%;
    z-index       : -1;
    top           : 0;
    left          : 0;
    background    : var(--color-dark);
    pointer-events: none;
    transition    : background 0.3s ease;
}

#sphere-js {
    user-select: none;
}

/* Estilos generales */
.password-popup {
    display         : none;
    position        : absolute;
    background-color: var(--color-black);
    color           : var(--color-light-grey);
    padding         : 10px;
    border          : 1px solid var(--color-grey);
    border-radius   : 5px;
    z-index         : 1000;
    font-size       : 12px;
    width           : 250px;
    top             : 100%;
    /* Justo debajo del campo de la contraseña */
    left            : 0;
    margin-top      : 5px;
}

.password-popup p {
    margin         : 0 0 5px;
    font-weight    : lighter;
    color          : var(--color-light-grey);
    text-decoration: underline;
    font-family    : "neue";
    font-size      : 14px;
}

.password-popup ul {
    list-style  : none;
    padding-left: 10px;
    margin      : 0;
}

.password-popup ul li {
    margin: 5px 0;
}

.password-popup ul li.invalid {
    color: var(--color-secondary);
}

.password-popup ul li.valid {
    color: rgb(26, 174, 26);
}

/* Mostrar el popup cuando el campo de contraseña esté activo */
input:focus+.password-toggle+.password-popup {
    display: block;
}



body {
    min-height      : 100vh;
    width           : 100%;
    background-color: var(--color-dark);
    display         : flex;
    align-items     : center;
    justify-content : center;
    flex-wrap       : nowrap;
    overflow        : hidden;
}

.box {
    position        : relative;
    width           : 900px;
    /* Aumentamos el ancho para acomodar la imagen */
    height          : 550px;
    background-color: var(--color-black);
    border          : 1px solid var(--color-grey);
    border-radius   : 10px;
    overflow        : hidden;
}

.box-signup {
    position        : relative;
    width           : 900px;
    /* Aumentamos el ancho para acomodar la imagen */
    height          : 620px;
    background-color: var(--color-black);
    border          : 1px solid var(--color-grey);
    border-radius   : 10px;
    overflow        : hidden;
}

.box-content {
    display: flex;
    width  : 100%;
    height : 100%;
}

.image-container {
    width           : 49%;
    background-color: var(--color-black);
    display         : flex;
    align-items     : center;
    justify-content : center;
    position        : relative;

    /* Para posicionar elementos dentro del contenedor */
}

.icon-top-left {
    position : absolute;
    bottom   : 30px;
    /* Ajusta la distancia desde la parte superior */
    left     : 45%;
    /* Ajusta la distancia desde la parte izquierda */
    font-size: 2.5em;
    z-index  : 10;
    /* Asegura que esté por encima de la imagen */
}

.image-container img {
    padding      : 10px;
    width        : 100%;
    height       : 100%;
    object-fit   : cover;
    border-radius: 20px;
}

.back-to-website {
    position        : absolute;
    top             : 30px;
    left            : 20px;
    font-size       : 1.2em;
    color           : var(--color-light-grey);
    z-index         : 10;
    font-family     : "neue";
    background-color: var(--color-black);
    border-radius   : 20px;
    border          : 1px solid var(--color-grey);
    display         : inline-block;
    padding         : 5px 10px;
}

.back-to-website a {
    text-decoration: none;
    color          : var(--color-light-grey);
    transition     : color 0.5s;
}

.back-to-website a:hover {
    color: var(--color-main);
}

.security-message {
    position        : absolute;
    bottom          : 30px;
    /* Distancia desde el fondo de la imagen */
    left            : 50%;
    /* Centrar horizontalmente */
    transform       : translateX(-50%);
    /* Ajustar el centro */
    font-size       : 1.5em;
    color           : var(--color-light-grey);
    background-color: #0c0b0b74;
    border-radius   : 20px;
    text-align      : center;
    z-index         : 10;
    width           : 13em;
    /* Asegurarse de que esté por encima de la imagen */
}

.security-message i {
    margin-top: 25px;
    font-size : 0.8em;
}


.form {
    width           : 51%;
    /* Tamaño del formulario */
    padding         : 30px;
    display         : flex;
    justify-content : space-evenly;
    flex-direction  : column;
    background-color: var(--color-black);
    border-radius   : 0 10px 10px 0;
    z-index         : 100;
}


h2 {
    font-size     : 3em;
    font-weight   : 900;
    color         : var(--color-main);
    font-family   : "neue-medium";
    font-weight   : lighter;
    letter-spacing: 2.5px;
    text-align    : center;
}

.intro {
    font-size  : 1.8em;
    font-weight: lighter;
    color      : var(--color-light-grey);
    font-family: "neue";
    text-align : center;
    user-select: none;
}

p {
    font-size  : 1.2em;
    font-weight: lighter;
    color      : var(--color-semigrey);
    font-family: "neue";
    text-align : left;
    user-select: none;
}

p a {
    color      : var(--color-secondary);
    font-family: "neue";
    font-weight: lighter;
    transition : color 0.5s;
    user-select: none;
}

p a:hover {
    color: var(--color-main);
}

a {
    text-decoration: none;
    color          : var(--color-secondary);
    font-size      : 0.9em;
}

.form-inputs {
    display       : flex;
    flex-direction: column;
    gap           : 30px;

}

.form-label {
    width  : 100%;
    height : 50px;
    display: flex;

}

.form-label input {
    width           : 100%;
    height          : 100%;
    padding         : 10px 30px;
    outline         : none;
    background-color: var(--color-semiblack);
    border-radius   : 10px;
    border          : 1px solid var(--color-grey);
    color           : var(--color-light-grey);
    font-family     : "neue";
    font-size       : 1.2em;
    font-weight     : lighter;
    transition      : background-color 0.5s;

}

.form-label input:focus {
    background-color: var(--color-dark);
}

.links {
    display       : flex;
    flex-direction: column;
    gap           : 10px;
}

.links a {
    text-decoration: none;
    color          : var(--color-semigrey);
    transition     : .5s;
    font-family    : "neue";
    font-weight    : lighter;
    font-size      : 1.2em;
    user-select    : none;
}

.links a:first-child:hover {
    color: var(--color-main);
}

.links a:nth-child(2) {
    color: var(--color-semigrey);
}

.links a:nth-child(2):hover {
    color: var(--color-main);
}

input[type="submit"] {
    background-color: var(--color-semiblack);
    color           : var(--color-light-grey);
    padding         : 15px;
    border-radius   : 10px;
    cursor          : pointer;
    transition      : .5s;
    border          : 1px solid var(--color-grey);
    font-family     : "neue";
    font-size       : 1.2em;
    font-weight     : lighter;
    transition      : background-color 0.5s, border 0.5s;
}

input[type="submit"]:hover {
    background-color: var(--color-secondary);
    border          : 1px solid var(--color-light-grey);
}

.form-label {
    position: relative;
}

.password-toggle {
    position : absolute;
    top      : 50%;
    transform: translateY(-50%);
    right    : 10px;
    cursor   : pointer;
}

.field-icon {
    color: #9B9A9A;
    /* Color del icono por defecto */
}

/* Estilos adicionales cuando el usuario interactúa con el campo */
.field-icon:hover {
    color: var(--color-main);
    /* Color del icono al hacer hover */
}

.show-password .field-icon {
    color: var(--color-main);
    /* Color del icono cuando la contraseña es visible */
}

/* Estilos del checkbox de términos y condiciones */
.form-label {
    display    : flex;
    align-items: center;
}

.form-label input[type="checkbox"] {
    margin-right: 10px;
    width       : 16px;
    height      : 16px;
}

.form-label label {
    font-size  : 19px;
    color      : var(--color-grey);
    font-family: "neue";
    font-weight: lighter;
    user-select: none;
}

.form-label a {
    color          : var(--color-secondary);
    text-decoration: none;
    transition     : color 0.5s;
}

.form-label a:hover {
    text-decoration: underline;
    color          : var(--color-main);
}