@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

:root {
  --color-main     : #d60b0b;
  --color-black    : #151414;
  --color-semiblack: #202020;
  --color-dark     : #0c0b0b;
  --color-white    : #f3f2f2;
  --color-grey     : #333;
  --mode-light     : #FCFCFC;
}

@font-face {
  font-family: "aero";
  src        : url("../../fonts/aeroxys/Aeroxys.ttf") format("truetype");
}

@font-face {
  font-family: "schabo";
  src        : url("../../fonts/schabo/SCHABO-Condensed.otf") format("truetype");
}

@font-face {
  font-family: "neue";
  src        : url("../../fonts/neue/NeueMontreal-Regular.otf") format("truetype");
}

@font-face {
  font-family: "neue-medium";
  src        : url("../../fonts/neue/NeueMontreal-Medium.otf") format("truetype");
}

* {
  padding    : 0;
  margin     : 0;
  box-sizing : border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


/* cursor styles */
.cursor {
  pointer-events: none;
  position      : absolute;
  width         : 20px;
  /* Tamaño del cursor */
  height        : 20px;
  /* Tamaño del cursor */
  border-radius : 50%;
  z-index       : 9000;
  background    : var(--color-white);
  transition    : width 0.3s ease, height 0.3s ease, background-color 0.5s ease;
  /* Transición de tamaño si es necesario */
}

.light-mode .cursor {
  background-color: var(--color-black);
}

.caps-lock-warning {
  display         : none;
  position        : absolute;
  top             : 0;
  left            : 50%;
  transform       : translateX(-50%);
  margin-top      : 10px;
  padding         : 10px;
  background-color: #ffc107;
  color           : #000;
  text-align      : center;
  font-size       : 14px;
  border          : 1px solid #ffa000;
  border-radius   : 5px;
  z-index         : 1000;
  font-family     : "neue";
  font-size       : 1.2em;
  font-weight     : lighter;
  /* Asegura que esté por encima del formulario */
}

.caps-lock-warning.active {
  display: block;
}

/* mensaje de alerta */
.message {
  position     : fixed;
  top          : 0;
  margin-top   : 10px;
  left         : 43%;
  width        : 15%;
  border-radius: 5px;
  padding      : 10px;
  text-align   : center;
  z-index      : 1000;
  box-sizing   : border-box;
  font-family  : "neue";
  font-size    : 1.2em;
  font-weight  : lighter;
}

.error {
  background-color: #f8d7da;
  color           : #721c24;
  border          : 1px solid #f5c6cb;

}

.success {
  background-color: #d4edda;
  color           : #155724;
  border          : 1px solid #c3e6cb;
}

body {
  min-height      : 100vh;
  width           : 100%;
  background-color: var(--color-black);
  display         : flex;
  align-items     : center;
  justify-content : center;
  margin          : 0;
}


.login-container {
  display: flex;
  width  : 100%;
  height : 100vh;
}

.left-section {
  width       : 33%;
  position    : relative;
  border-right: 2px solid var(--color-grey);
}

.left-section img {
  width     : 100%;
  height    : 100%;
  object-fit: cover;
  display   : block;
}


.right-section {
  width           : 67%;
  display         : flex;
  align-items     : center;
  justify-content : center;
  padding         : 40px;
  background-color: var(--color-black);
  transition      : background-color 0.5s ease;
}

.light-mode .right-section {
  background-color: var(--mode-light);
}

.form {
  display       : flex;
  flex-direction: column;
  width         : 100%;
  max-width     : 400px;
  color         : var(--color-white);
  transition    : color 0.5s ease;
}

.light-mode .form {
  color: var(--color-black);
}

h2 {
  font-size    : 2.9em;
  margin-bottom: 20px;
  text-align   : center;
  font-family  : "neue";
  font-weight  : lighter;
}

.form-label input {
  width           : 100%;
  padding         : 12px;
  margin-bottom   : 20px;
  background-color: var(--color-grey);
  border-radius   : 50px;
  border          : 1px solid #686868;
  color           : var(--color-white);
  font-size       : 1.2em;
  font-family     : "neue";
  font-weight     : lighter;
  outline         : none;
  transition      : background-color 0.5s ease, color 0.5s ease;
}

.light-mode .form-label input {
  background-color: var(--color-white);
  color           : var(--color-black);

}

.password-container {
  position: relative;
}

.password-container .field-icon {
  position : absolute;
  right    : 12px;
  top      : 37%;
  transform: translateY(-50%);
  cursor   : pointer;
  color    : #9B9A9A;
}

.password-container input {
  padding-right: 40px;
  /* Ajusta el padding para evitar que el texto se solape con el icono */
}

.toggle-password {
  font-size: 1.2em;
}


.links {
  display        : flex;
  justify-content: space-between;
  color          : #9B9A9A;
  font-family    : "neue";
  padding-bottom : 20px;
}

.links a {
  text-decoration: none;
  color          : inherit;
  transition     : 0.5s;
}

.links a:hover {
  text-decoration: none;
  color          : var(--color-main);
}

.submit-button {
  position        : relative;
  display         : inline-block;
  padding         : 12px 24px;
  font-size       : 1.2em;
  font-family     : "neue";
  font-weight     : lighter;
  color           : var(--color-white);
  background-color: transparent;
  border          : 2px solid var(--color-white);
  border-radius   : 5px;
  cursor          : pointer;
  overflow        : hidden;
  transition      : color 0.4s ease, background-color 0.4s ease, transform 0.4s ease;
}

.light-mode .submit-button {
  color : var(--color-black);
  border: 2px solid var(--color-black);
}

.submit-button::before {
  content      : "";
  position     : absolute;
  top          : 50%;
  left         : 50%;
  width        : 300%;
  height       : 300%;
  background   : var(--color-white);
  transition   : width 0.4s ease, height 0.4s ease, top 0.4s ease, left 0.4s ease;
  border-radius: 50%;
  z-index      : 0;
  transform    : translate(-50%, -50%);
}

.light-mode .submit-button::before {
  background: var(--color-black);
}

.submit-button:hover::before {
  width : 0;
  height: 0;
  top   : 50%;
  left  : 50%;
}

.submit-button:hover {
  color: var(--color-white);
}

.light-mode .submit-button:hover {
  color: var(--color-black);
}

.submit-button span {
  position: relative;
  z-index : 1;
}