<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /nvs/public/

    # Redirige las solicitudes a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
