:root {
    --color-main: #d60b0b;
    --color-black: #151414;
    --color-semiblack: #202020;
    --color-white: #f3f2f2;
    --color-grey: #333;
  }
  
  /* fonts select */
  @font-face {
    font-family: "matter-medium";
    src: url("./fonts/matter-font/Matter-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "aero";
    src: url("./fonts/aeroxys/Aeroxys.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "nevol";
    src: url("./fonts/nevolasty/Nevolasty-Light.otf") format("truetype");
  }
  
  @font-face {
    font-family: "arame";
    src: url("./fonts/arame/Arame-Thin.ttf") format("truetype");
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: "matter-medium", sans-serif;
}

.header a {
    position: absolute;
    top: 11px;
    left: 20px;
    color: var(--color-main);
    font-size: 1.3em;
    font-family: "aero";
    text-decoration: none;
  }
  
nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--color-black);
    border-bottom: 1px solid var(--color-grey);
}

.header a {
    position: absolute;
    top: 11px;
    left: 20px;
    color: var(--color-main);
    font-size: 1.6em;
    font-weight: 100;
    font-family: "aero";
    text-decoration: none;
  }

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: relative;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-white);
    font-family: "matter-medium";
    font-size: 1.1em;
    padding: 15px 20px;
    display: block;
}

nav ul li a:hover {
    color: var(--color-main);
}

nav ul li .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 15%;
    background: linear-gradient(95deg, #333 0%, #151414 100%);
    border: 1px solid #454545;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    list-style: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

nav ul li .dropdown li {
    width: 200px;
}

nav ul li .dropdown li a {
    padding: 10px 10px;
    color: var(--color-white);
}

nav ul li .dropdown li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

nav ul li:hover .dropdown {
    display: block;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background: linear-gradient(45deg, #333 0%, #151414 100%);
    border: 1px solid #454545;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-container h1 {
    font-size: 2rem;
    color: var(--color-white);
    margin: 0;
    font-family: "arame";
}

.profile-info {
    font-family: "Matter-medium", Courier, monospace;
    font-size: 1.2rem;
    margin-top: 20px;
    width: 100%;
    white-space: pre;
    color: var(--color-white);
}

strong {
    color: var(--color-main); /* Color de los textos en negrita */
}
