@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

:root {
  --color-main: #d60b0b;
  --color-black: #151414;
  --color-semiblack: #202020;
  --color-white: #f3f2f2;
  --color-grey: #333;
}

/* fonts select */
@font-face {
  font-family: "matter-medium";
  src: url("./fonts/matter-font/Matter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "aero";
  src: url("./fonts/aeroxys/Aeroxys.ttf") format("truetype");
}

@font-face {
  font-family: "nevol";
  src: url("./fonts/nevolasty/Nevolasty-Light.otf") format("truetype");
}

@font-face {
  font-family: "arame";
  src: url("./fonts/arame/Arame-Thin.ttf") format("truetype");
}

body {
    font-family: "matter-medium", sans-serif;
    background-color: var(--color-black); /* Color de fondo */
    color: var(--color-white); /* Color del texto */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-top: 50px;
}
.header a {
  position: absolute;
  top: 11px;
  left: 20px;
  color: var(--color-main);
  font-size: 1.2em;
  font-weight: 100;
  font-family: "aero";
  text-decoration: none;
}

.container {
    position: absolute;
    max-width: 100vh;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(45deg, #333 0%, #151414 100%);
    border: 1px solid #454545;
    border-radius: 8px;
    text-align: center;
}

.columns {
    width: 60rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px; /* Espacio entre el título y las columnas */
}

.scan-group {
    background-color: var(--color-grey);
    border-radius: 8px;
    overflow: hidden;
}

.scan-summary {
    padding: 20px;
    cursor: pointer;
}

.scan-details {
    display: block;
    height: 0;
    overflow: hidden;
    padding: 0 20px;
    background-color: var(--color-semiblack);
    transition: height 0.3s ease;
}

.scan-details.visible {
    height: auto;
}

h1 {
    color: var(--color-white); 
    font-family: "arame";/* Color del título */
}

h2 {
    color: var(--color-main); /* Color de los subtítulos */
}

h3 {
    color: #ff9e3c ; /* Color de los subtítulos */
}

#descripcion {
    color: #eb5ef0; /* Color de las vulnerabilidades */
}

#solucion {
    color: #14ff5a; /* Color de la solución */
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

strong {
    color: #a7a6a5; /* Color de los textos en negrita */
}
