:root {
    --color-main: #d60b0b;
    --color-black: #151414;
    --color-white: #f3f2f2;
    --color-grey: #333;
  }
  
  /* fonts select */
  @font-face {
    font-family: "matter-medium";
    src: url("./fonts/matter-font/Matter-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "aero";
    src: url("./fonts/aeroxys/Aeroxys.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "nevol";
    src: url("./fonts/nevolasty/Nevolasty-Light.otf") format("truetype");
  }
  
  @font-face {
    font-family: "arame";
    src: url("./fonts/arame/Arame-Thin.ttf") format("truetype");
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
  }


  html {
    scroll-behavior: smooth;
}
  body {
    margin: 0;
    padding: 0;
    font-family: "matter-medium";
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    height: 100vh;

  }
  
  nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de transparencia */
    backdrop-filter: blur(10px); /* Ajusta el valor de blur según tu preferencia */
    -webkit-backdrop-filter: blur(10px); /* Soporte para navegadores WebKit */
    border-bottom: 1px solid var(--color-grey);
  }
  
  nav .logo {
    font-family: "aero";
    font-size: 2.5em;
    color: var(--color-main);
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    position: relative;
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: var(--color-white);
    font-family: "matter-medium";
    font-size: 1.1em;
    padding: 15px 20px;
    display: block;
  }
  
  nav ul li a:hover {
    color: var(--color-main);
  }
  
  nav ul li .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 15%;
    background: linear-gradient(95deg, #333 0%, #151414 100%);
    border: 1px solid #454545;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    list-style: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  }

  nav ul li .dropdown li {
    width: 200px;
  }
  
  nav ul li .dropdown li a {
    padding: 10px 10px;
    color: var(--color-white);
  }
  
  nav ul li .dropdown li a:hover {
    background-color: #575757;
    border-radius: 5px;
  }
  
  nav ul li:hover .dropdown {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .home {
    background-image: url(../styles/images/background.png);
    background-size: cover;
  }
  
  .intro {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre .intro-text y .intro-image */
    align-items: flex-start; /* Alinea el contenido hacia arriba */
    height: 100vh;
    padding-top: 22rem; /* Ajusta según tu diseño */
    color: var(--color-white);
  
}



.intro-text {
  width: 45%; /* Ajusta el ancho del texto según tu diseño */
  margin-left: 5%; /* Mueve el contenido hacia la izquierda */
  margin-top: 5%; /* Ajusta según tu diseño */
}
  
  .intro-text h1 {
    font-size: 3em;
    font-family: "arame";
    overflow: hidden; /* Para asegurar que el texto no se desborde */
    white-space: nowrap; /* Evita el salto de línea */
    animation: typing 3s steps(35, end), blink-caret 0.75s step-end infinite; /* Animación de tipeo y parpadeo */
    /* Estilo adicional para el cursor */
    border-right: 4px solid var(--color-white); /* Efecto cursor */
    margin-bottom: 1rem;
    display: inline-block;
  max-width: fit-content;
    
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: var(--color-white) }
  }

  @keyframes typing-finished {
    from { border-right-color: var(--color-white); }
    to { border-right-color: transparent; }
}

.intro-text h1.typing-finished {
    animation: blink-caret 0.75s step-end infinite, typing-finished 0.5s forwards;
}


  
  
  
  .intro-text p {
    font-size: 1.2em;
    font-family: "matter-medium";
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .buttons .btn {
    background-color: var(--color-main);
    font-family: "matter-medium";
    color: var(--color-white);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s;
  }
  
  .buttons .btn:hover {
    background-color: var(--color-grey);
  }

  .intro-image {
    width: 45%; /* Ajusta el ancho de la imagen según tu diseño */
    text-align: right; /* Alinea la imagen hacia la derecha */
    margin-right: 15rem;
    margin-top: -2rem;
}

.intro-image img {
  width: 45%; /* Asegura que la imagen no supere el 100% del ancho del contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente */
  border-radius: 10px;

}


.scroll-down {
  position: absolute;
  bottom: 20px; /* Ajusta según tu diseño */
  left: 50%; /* Centra la flecha horizontalmente */
  transform: translateX(-50%); /* Centra la flecha horizontalmente */
  text-align: center;
  animation: bounce 2s infinite; /* Animación de rebote */
}

.scroll-down i {
  font-size: 1.1em;
  color: var(--color-white);
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

  /* Agrega al final de tu archivo CSS */
.section-header {
  padding-top: 12%;
  text-align: center;
  margin: 50px 0;
}

.section-header h2 {
  font-size: 2.5em;
  font-family: "arame";
  color: var(--color-main);
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-image-block {
  display: flex;
  align-items: center;
  margin: 50px 0;
  padding: 20px;
  width: 80%;
  border: 1px solid var(--color-grey);
  border-radius: 10px;
}

.text-image-block:nth-child(even) {
  flex-direction: row-reverse;
}

.text {
  flex: 1;
  margin: 0 20px;
}

.text h3 {
  font-size: 1.8em;
  font-family: "arame";
  margin-bottom: 20px;
}

.text p {
  font-size: 1.2em;
  font-family: "matter-medium";
}

.image {
  flex: 1;
  text-align: center;
}

.image img {
  max-width: 100%;
  border-radius: 10px;
}

hr {
  width: 80%;
  margin: 50px auto;
  border: 1px solid var(--color-grey);
}
