:root {
--color-main: #d60b0b;
--color-black: #151414;
--color-white: #f3f2f2;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
}

nav ul li {
    position: relative;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-white);
    padding: 15px 20px;
    display: block;
}

nav ul li a:hover {
    color: var(--color-main);
}

nav ul li .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 10%;
    background-color: #333;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1000;
}

nav ul li .dropdown li {
    width: 200px;
}

nav ul li .dropdown li a {
    padding: 10px 20px;
}

nav ul li .dropdown li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

nav ul li:hover .dropdown {
    display: block;
}

.container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 60px; /* Para compensar el navbar fijo */
}

h1 {
    font-size: 3em;
    margin: 0;
    color: var(--color-white);
}



