@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

:root {
  --color-main: #d60b0b;
  --color-black: #151414;
  --color-semiblack: #202020;
  --color-white: #f3f2f2;
  --color-grey: #333;
}

/* fonts select */
@font-face {
  font-family: "matter-medium";
  src: url("./fonts/matter-font/Matter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "aero";
  src: url("./fonts/aeroxys/Aeroxys.ttf") format("truetype");
}

@font-face {
  font-family: "nevol";
  src: url("./fonts/nevolasty/Nevolasty-Light.otf") format("truetype");
}

@font-face {
  font-family: "arame";
  src: url("./fonts/arame/Arame-Thin.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.caps-lock-warning {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  padding: 10px;
  background-color: #ffc107;
  color: #000;
  text-align: center;
  font-size: 14px;
  border: 1px solid #ffa000;
  border-radius: 5px;
  z-index: 1000;
  /* Asegura que esté por encima del formulario */
}

.caps-lock-warning.active {
  display: block;
}

/* mensaje de alerta */
.message {
  position: fixed;
  top: 0;
  margin-top: 10px;
  left: 43%;
  width: 15%;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  z-index: 1000;
  box-sizing: border-box;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.header a {
  position: absolute;
  top: 11px;
  left: 20px;
  color: var(--color-main);
  font-size: 1.3em;
  font-family: "aero";
  text-decoration: none;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.box {
  position: relative;
  width: 380px;
  height: 500px;
  /* Adjusted height to fit the form content */
  background-color: var(--color-black);
  border-radius: 10px;
  overflow: hidden;
}

.box:before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  transform-origin: bottom right;
  background-image: linear-gradient(0deg, transparent, var(--color-main), var(--color-main));
  animation: animacion 6s linear infinite;
}


@keyframes animacion {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.form {
  position: absolute;
  inset: 2px;
  background: linear-gradient(45deg, #333 0%, #151414 100%);
  border: 1px solid #454545;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  z-index: 10;
}

h2 {
  font-size: 32px;
  font-weight: 900;
  color: var(--color-main);
  font-family: "arame";
  letter-spacing: 2.5px;
  text-align: center;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.form-label {
  width: 100%;
  height: 50px;
  display: flex;

}

.form-label input {
  width: 100%;
  height: 100%;
  padding: 10px 30px;
  outline: none;
  background-color: var(--color-grey);
  border-radius: 10px;
  border: none;
  color: var(--color-white);
  font-family: "matter-medium";
  font-size: 16px;
  transition: .5s;
}

.form-label input:focus {
  border-radius: 10px;
  background-color: var(--color-black);
  color: var(--color-white);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.links a {
  text-decoration: none;
  color: #9B9A9A;
  transition: .5s;
  font-family: "matter-medium";
}

.links a:first-child:hover {
  color: var(--color-main);
}

.links a:nth-child(2) {
  color: #9B9A9A;
}

.links a:nth-child(2):hover {
  color: var(--color-main);
}

input[type="submit"] {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: .5s;
  border: none;
  font-family: "matter-medium";
}

input[type="submit"]:hover {
  background-color: var(--color-main);
  color: var(--color-black);
}

.form-label {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  cursor: pointer;
}

.field-icon {
  color: #9B9A9A;
  /* Color del icono por defecto */
}

/* Estilos adicionales cuando el usuario interactúa con el campo */
.field-icon:hover {
  color: var(--color-main);
  /* Color del icono al hacer hover */
}

.show-password .field-icon {
  color: var(--color-main);
  /* Color del icono cuando la contraseña es visible */
}