.about-comments {
    background: radial-gradient(circle, rgba(198, 21, 21, 0.109) 0%, #0c0b0b 35%);
    text-align: center;
    margin    : 50px 0;
}

.about-comments h2 {
    font-size    : 3.2rem;
    font-family  : "neue-medium";
    font-weight  : lighter;
    margin-bottom: 20px;
    color        : var(--color-light-grey);
}

.comments-grid {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap                  : 20px;
    padding              : 20px;
    max-width            : 1200px;
    margin               : 0 auto;
    /* Evitamos que las tarjetas tengan una altura fija */
    align-items          : start;
}

.comment-card {
    background-color: var(--color-black);
    border          : 1px solid var(--color-grey);
    border-radius   : 10px;
    padding         : 20px;
    box-shadow      : 0 4px 6px rgba(0, 0, 0, 0.1);
    color           : var(--color-light-grey);
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    /* Añadimos flex-grow para que las tarjetas no se estiren innecesariamente */
    flex-grow       : 1;
    height          : auto;
    transition      : background-color 0.5s ease, border 0.5s ease;
    /* Permite que la altura se ajuste según el contenido */
}

.comment-card:hover {
    border: 1px solid var(--color-light-grey);
}

.comment-card h3 {
    margin-top: 15px;
    font-size : 1.2rem;
    color     : var(--color-secondary);
}

.comment-card .occupation {
    font-size : 0.9rem;
    color     : gray;
    margin-top: 5px;
}

.comment {
    font-size  : 1.2rem;
    line-height: 1.5;
}

.comment span {
    color           : var(--color-secondary);
    background-color: var(--color-semiblack);
    padding         : 1px 5px;
    border-radius   : 10px;
    display         : inline-block;
    transition      : color 0.5s ease-out;
}

.comment span:hover {
    color: var(--color-main);
}

/* Centrar la tarjeta de Nahuel */
.comments-grid .naahueel {
    grid-column : 1 / -1;
    justify-self: center;
    max-width   : 375px;
    margin-top  : -145px;
    /* Ajusta este valor según lo necesites */
}