.features-block {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    gap                  : 35px;
    padding              : 0 14.5rem;
    margin-top           : 10px;
    color                : var(--color-white);
    transition           : background-color 0.5s ease, color 0.5s ease;
}

.light-mode .features-block {
    background-color: var(--mode-light);
    color           : var(--color-black);
}

.features-block h3 {
    text-align   : center;
    grid-column  : span 3;
    margin-bottom: 20px;
    font-family  : "neue-medium";
    color        : var(--color-light-grey);
    font-size    : 3.2em;
    font-weight  : lighter;
    opacity      : 0;
    transform    : translateX(-200px);
    transition   : opacity 0.9s ease-out, transform 0.9s ease-out, color 0.3s ease;
}

.light-mode .features-block h3 {
    color: var(--color-black);
}

.features-block.visible h3 {
    opacity  : 1;
    transform: translateX(0);
}

.features-block.visible h3::after {
    transform: scaleX(1);
}

.feature-item {
    display      : flex;
    align-items  : center;
    padding      : 15px;
    border-radius: 5px;
    border       : 1px solid var(--color-grey);
    transition   : background-color 0.5s ease, border 0.5s ease;
}

.feature-item:hover {
    background-color: var(--color-semiblack);
    border          : 1px solid var(--color-light-grey);
}

.light-mode .feature-item:hover {
    border          : 1px solid var(--color-dark);
    background-color: var(--color-light-grey);
}

.feature-text h4 {
    margin     : 0;
    font-size  : 1.9em;
    font-family: "neue-medium";
    color      : var(--color-secondary);
    font-weight: lighter;
}

.light-mode .feature-text h4 {
    color: var(--color-quaternary);
}

.feature-text i {
    color        : var(--color-light-grey);
    padding      : 5px 8px;
    border-radius: 10px;
    font-size    : 30px;
}

.light-mode .feature-text i {
    color: var(--color-black);
}

.feature-text p {
    margin     : 20px 0 0;
    font-size  : 1.5em;
    font-family: "neue";
    font-weight: lighter;
    color      : var(--color-light-grey);
}

.light-mode .feature-text p {
    color: var(--color-black);
}