/* footer section starts here */

footer {
    color      : var(--color-white);
    background : var(--color-semiblack);
    padding    : 40px 0;
    font-family: "neue";
    border-top : 1px solid var(--color-grey);
}

.light-mode footer {
    color     : var(--color-black);
    background: var(--color-white);
}

.footer-container {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    max-width     : 1200px;
    margin        : 0 auto;
    padding       : 0 20px;
}

.footer-top {
    display        : flex;
    justify-content: space-between;
    align-items    : flex-start;
    width          : 100%;
    margin-bottom  : 20px;
}

.footer-logo {
    margin-right: auto;
    margin-top  : 10px;
}

.footer-logo a {
    max-width    : 50px;
    margin-bottom: 20px;
    font-family  : "aero";
    font-size    : 2.6em;
}

.footer-columns {
    display        : flex;
    justify-content: flex-end;
    gap            : 50px;
    flex-wrap      : wrap;
    width          : 100%;
    margin-bottom  : 10px;
}

.footer-column {
    padding: 0 40px;
}

.footer-column h4 {
    margin-bottom: 15px;
    font-size    : 1.9em;
    font-family  : "neue";
    font-weight  : lighter;
}

.footer-column ul {
    list-style: none;
    padding   : 0;
}

.footer-column ul li {
    margin-bottom: 20px;
}

.footer-column ul li a {
    color          : #575757;
    text-decoration: none;
    transition     : color 0.3s;
    font-family    : "neue";
    font-size      : 1.5em;
}

.footer-column ul li a:hover {
    color      : var(--color-main);
    font-weight: lighter;
}

.footer-bottom {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    width          : 100%;
    border-top     : 1px solid var(--color-grey);
    padding-top    : 20px;
    flex-wrap      : wrap;
}

.footer-bottom p {
    margin     : 0;
    font-family: "neue";
    font-weight: lighter;
    font-size  : 1.9em;
}

.social-icons {
    text-align: right;
}

.social-icons a {
    color          : var(--color-white);
    text-decoration: none;
    margin         : 0 5px;
    font-size      : 18px;
    transition     : color 0.3s;
}

.light-mode .social-icons a {
    color: var(--color-black);
}

.social-icons a:hover {
    color: var(--color-main);
}

/* footer section ends here */