/* Footer container */
.footer {
    background-color: var(--color-semiblack);
    color           : var(--color-light-grey);
    border-top      : 1px solid var(--color-grey);
    height          : 400px;
    padding         : 50px;
    font-family     : 'neue';
    position        : relative;
    z-index         : 1;
    overflow        : hidden;
    /* Aquí se ocultará solo la parte inferior */
}

.footer-content {
    max-width      : 1200px;
    margin         : 0 auto;
    display        : flex;
    justify-content: space-between;
    align-items    : flex-start;
    position       : relative;
    z-index        : 2;
}

.logo-section p {
    margin-top: 15px;
    font-size : 1.4em;
    color     : var(--color-light-grey);
}

.logo-section .logo {
    font-size  : 2em;
    font-weight: lighter;
    color      : var(--color-secondary);
}

.links-section {
    display: flex;
}

.column {
    margin-right: 5px;
    padding-left: 90px;
}

.column h3 {
    font-size      : 1.2em;
    font-weight    : lighter;
    margin-bottom  : 20px;
    color          : var(--color-light-grey);
    text-decoration: underline;
}

.column ul {
    list-style: none;
    padding   : 0;
}

.column ul li {
    margin-bottom: 20px;
}

.column ul li a {
    color          : var(--color-light-grey);
    font-size      : 1.2em;
    font-weight    : lighter;
    text-decoration: none;
    transition     : color 0.3s ease;
}

.column ul li a:hover {
    color: var(--color-secondary);
}

/* Large "Network Vulnerability Scan" text styling */
.footer-bottom {
    position      : relative;
    text-align    : center;
    padding-bottom: 0;
}

/* Styling for the large text at the bottom */
.footer-logo {
    font-size     : 16em;
    font-family   : "neue-medium";
    color         : var(--color-semigrey);
    font-weight   : lighter;
    text-transform: uppercase;
    margin        : 0;
    letter-spacing: 5px;
    position      : absolute;
    bottom        : -310px;
    /* Ajustar para que solo la parte superior se vea */
    left          : 43%;
    transform     : translateX(-50%);
    z-index       : 1;
    white-space   : nowrap;
    width         : 100%;
    text-align    : center;
    overflow      : visible;
    /* Permitir que se vea la parte superior */
}