/* home section starts here */

.home {
  background-color: var(--color-dark);
  display         : flex;
  justify-content : center;
  align-items     : center;
  transition      : transform 1.5s ease, opacity 1.5s ease;

  /* Ocupa toda la altura de la ventana */
}

#particles-js {
  position      : absolute;
  width         : 100%;
  z-index       : 1;
  /* Detrás del contenido */
  top           : 0;
  left          : 0;
  background    : var(--color-dark);
  pointer-events: none;
  /* El mismo color de fondo de tu .home */
}


/* Hidden and scrolled state */
.intro.shrink {
  transform: scale(0.5);
  opacity  : 0;
}

.home.light-mode {
  background-image: url("../../images/white.jpg");
}

.intro {
  display        : flex;
  justify-content: center;
  align-items    : center;
  height         : 110vh;
  padding-top    : 0;
  z-index        : 10;
  transition     : transform 1.5s ease, opacity 1.5s ease;
}


.intro-text {
  text-align: center;
  position  : relative;
}

.intro-subtext {
  font-size  : 2rem;
  color      : var(--color-grey);
  font-family: "neue";
  margin-top : 1rem;
  overflow   : hidden;
  position   : relative;
  user-select: none;
}

/* Animaciones */
@keyframes slideIn {
  from {
    opacity  : 0;
    transform: translateY(20%);
  }

  to {
    opacity  : 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity  : 1;
    transform: translateY(0);
  }

  to {
    opacity  : 0;
    transform: translateY(-20%);
  }
}

/* Aplicar las animaciones */
.word-slide {
  display   : inline-block;
  animation : slideIn 0.5s forwards;
  opacity   : 0;
  color     : var(--color-main);
  transform : translateY(20%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide-in {
  animation: slideIn 0.5s forwards;
}

.slide-out {
  animation: slideOut 0.5s forwards;
  opacity  : 0;
}


.intro-text h1 {
  font-size     : 8em;
  font-weight   : lighter;
  font-family   : "schabo";
  text-align    : center;
  margin        : 0 auto;
  color         : var(--color-secondary);
  opacity       : 0;
  transition    : opacity 1s ease-in-out;
  overflow      : hidden;
  white-space   : nowrap;
  pointer-events: none;
  /* no permite el subrayado */
  user-select   : none;
}

/* home sections ends here */