/* General navbar styles */
#navbar {
    display        : flex;
    align-items    : center;
    position       : absolute;
    top            : 0;
    left           : 0;
    justify-content: space-between;
    padding        : 60px;
    z-index        : 2000;
    user-select    : none;
    /* Para trabajar con el centrado */
}


/* Left side logo */
.nav-item .logo i {
    color          : var(--color-main);
    text-decoration: none;
    user-select    : none;
    align-items    : center;
    font-size      : 1.3em;
    margin-top     : 8px;
}


/* Center navigation items (centrado) */
.nav-list {
    display      : flex;
    list-style   : none;
    padding      : 0px 8px;
    margin       : 0;
    border-radius: 25px;
    position     : fixed;
    border       : 1px solid var(--color-grey);
    left         : 50%;
    transform    : translateX(-50%);
    background   : var(--color-black);
    user-select  : none;
    transition   : background-color 0.3s ease, color 0.3s ease;
}

.light-mode .nav-list {
    background: var(--color-white);
    color     : var(--color-black);
}

/* Nav items styling */
.nav-item {
    margin: 10px;
}

.nav-item a i {
    margin-right: 5px;
    /* Espaciado entre el ícono y el texto */
}

/* Efecto ruleta en hover */
.link {
    height         : 40px;
    align-items    : center;
    color          : #fff;
    text-decoration: none;
    display        : flex;
}

/* Ocultar texto adicional */
.mask {
    position: relative;
    padding : 0;
    height  : 20px;
    overflow: hidden;
}

.link-container {
    transition: transform 0.4s ease;
}

.title {
    display    : block;
    font-size  : 20px;
    line-height: 20px;
    transition : transform 0.4s ease;
}

.link-title1 {
    transform-origin: right center;
    color           : gray;
}

.light-mode .link-title1 {
    color: gray;
}

.link-title2 {
    transform-origin: left center;
    transform       : translateY(100%);
    color           : var(--color-light-grey);
}

.light-mode .link-title2 {
    color: var(--color-black);
}

/* Cambiar las palabras en hover */
.link:hover .link-container {
    transform: translateY(-100%);
}


.nav-list .nav-item a {
    text-decoration: none;
    padding        : 0px 10px;
    border-radius  : 25px;
    font-family    : "neue";
    font-size      : 1.2em;
    color          : var(--color-light-grey);
    transition     : background-color 0.3s ease, color 0.3s ease;
}

.nav-list .nav-item .signup {
    text-decoration : none;
    padding         : 10px 15px;
    border-radius   : 20px;
    font-family     : "neue";
    font-size       : 1.2em;
    color           : var(--color-light-grey);
    background-color: var(--color-secondary);
    transition      : background-color 0.3s ease, color 0.3s ease;
}

.light-mode .nav-list .nav-item .signup {
    background-color: var(--color-secondary);
    color           : var(--color-black);
}

.nav-list .nav-item .signup:hover {
    background-color: var(--color-main);
    color           : var(--color-light-grey);
}

.light-mode .nav-list .nav-item .signup:hover {
    background-color: var(--color-main);
    color           : var(--color-black);
}

.nav-list .nav-item .login {
    text-decoration: none;
    padding        : 10px 15px;
    border-radius  : 20px;
    font-family    : "neue";
    font-size      : 1.2em;
    color          : var(--color-light-grey);
    border         : 1px solid var(--color-grey);
    transition     : background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.light-mode .nav-list .nav-item .login {
    color: var(--color-black);
}

.nav-list .nav-item .login:hover {
    border: 1px solid var(--color-light-grey);
}

.light-mode .nav-list .nav-item .login:hover {
    border: 1px solid var(--color-dark);
}

.nav-item .arrow {
    font-size       : 1em;
    margin-left     : 8px;
    background-color: var(--color-white);
    color           : var(--color-black);
    border-radius   : 50%;
    padding         : 5px 12px;
    transition      : background-color 0.3s ease, color 0.3s ease;
}

.light-mode .nav-item .arrow {
    background-color: var(--color-black);
    color           : var(--color-white);
}


/* General styles */
#toggle-dark-mode {
    position       : fixed;
    bottom         : 60px;
    left           : 35px;
    background     : var(--color-black);
    border         : 1px solid var(--color-grey);
    color          : var(--color-light-grey);
    border-radius  : 15px;
    padding        : 10px 11px;
    font-size      : 20px;
    z-index        : 1000;
    text-decoration: none;
    display        : flex;
    align-items    : center;
    justify-content: center;
    transition     : background-color 0.3s, border 0.3s ease, color 0.3s ease;
}

.light-mode #toggle-dark-mode {
    background: var(--color-white);
    color     : var(--color-grey);
}

#toggle-dark-mode:hover {
    background-color: var(--color-semigrey);
    border          : 1px solid var(--color-light-grey);
}

.light-mode #toggle-dark-mode:hover {
    background-color: var(--color-light-grey);
    border          : 1px solid var(--color-dark);
}

.dropdown {
    border       : 1px solid var(--color-grey);
    color        : var(--color-light-grey);
    background   : var(--color-black);
    border-radius: 15px;
    position     : fixed;
    bottom       : 110px;
    left         : 35px;
    display      : inline-block;
    z-index      : 1000;
    transition   : background-color 0.3s, color 0.3s ease;
    user-select  : none;
}

.light-mode .dropdown {
    background: var(--color-white);
    color     : var(--color-black);
}

.dropdown:hover {
    background-color: var(--color-semigrey);
    border          : 1px solid var(--color-light-grey);
}

.light-mode .dropdown:hover {
    background-color: var(--color-light-grey);
    border          : 1px solid var(--color-dark);
}

.globe {
    display        : flex;
    align-items    : center;
    padding        : 10px;
    border-radius  : 15px;
    text-decoration: none;
    color          : var(--color-light-grey);
    font-family    : "neue";
    font-size      : 14px;
    transition     : background-color 0.3s;
}

.light-mode .globe {
    color: var(--color-grey);
}


span.language-label {
    margin-left: 6px;
}

.fa-chevron-down {
    margin-left: 4px;
    font-size  : 10px;
}

.dropdown-menu {
    display        : none;
    position       : absolute;
    top            : 1px;
    left           : 75px;
    list-style-type: none;
    background     : var(--color-black);
    padding        : 10px;
    z-index        : 1001;
    border         : 1px solid var(--color-grey);
    border-radius  : 15px;
}

.light-mode .dropdown-menu {
    background: var(--color-white);
}

.dropdown-menu li {
    padding: 8px 12px;
}

.dropdown-menu li a {
    text-decoration: none;
    color          : var(--color-light-grey);
    display        : block;
    transition     : color 0.3s ease;
}

.light-mode .dropdown-menu li a {
    color: var(--color-grey);
}

.dropdown-menu li a:hover {
    color: var(--color-main);
}

.dropdown:hover .dropdown-menu {
    display: block;
}