/* General navbar styles */
#navbar {
    width           : 100%;
    background-color: var(--color-dark);
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    position        : relative;
    top             : 0;
    left            : 0;
    justify-content : space-between;
    padding         : 60px 20px;
    z-index         : 2000;
    transition      : background-color 0.5s ease, color 0.5s ease;
    /* Para trabajar con el centrado */
}

/* Left side logo */
.nav-left .logo {
    font-size      : 18px;
    color          : white;
    text-decoration: none;
    font-family    : "aero";
}

/* Center navigation items (centrado) */
.nav-list {
    display      : flex;
    list-style   : none;
    padding      : 13px 1px;
    margin       : 0;
    border-radius: 40px;
    border       : 1px solid #555;
    position     : absolute;
    /* Posición absoluta para centrado */
    left         : 50%;
    transform    : translateX(-50%);
    /* Centra la lista horizontalmente */
}

/* Nav items styling */
.nav-item {
    margin: 3px;
}

.nav-item a i {
    margin-right: 5px;
    /* Espaciado entre el ícono y el texto */
}


.nav-list .nav-item a {
    text-decoration : none;
    padding         : 14px 25px;
    border-radius   : 25px;
    font-family     : "neue";
    font-size       : 1.2em;
    color           : #fff;
    background-color: #333;
    transition      : background-color 0.3s ease, color 0.3s ease;
}

.nav-item.active a {
    background-color: #fff;
    color           : #000;
}

.nav-item a:hover {
    background-color: #555;
    color           : #fff;
}

/* Right side login and signup */
.nav-right {
    display    : flex;
    align-items: center;
}

.signup-link {
    text-decoration : none;
    padding         : 10px 20px;
    margin-left     : 15px;
    border-radius   : 25px;
    font-family     : 'Arial', sans-serif;
    color           : #fff;
    background-color: #6a5acd;
    position        : relative;
}

.signup-link .arrow {
    display    : inline-block;
    font-size  : 16px;
    margin-left: 8px;
}

.login-link {
    text-decoration : none;
    padding         : 10px 20px;
    border-radius   : 25px;
    font-family     : 'Arial', sans-serif;
    color           : #fff;
    background-color: #333;
}

.signup-link:hover,
.login-link:hover {
    background-color: #555;
    color           : #fff;
}