:root {
  --color-main     : #d60b0b;
  --color-black    : #151414;
  --color-semiblack: #202020;
  --color-dark     : #0c0b0b;
  --color-white    : #f3f2f2;
  --color-grey     : #535151;
  --color-semigrey : #565555;
  --mode-light     : #FCFCFC;
}

@font-face {
  font-family: "aero";
  src        : url("../../fonts/aeroxys/Aeroxys.ttf") format("truetype");
}

@font-face {
  font-family: "schabo";
  src        : url("../../fonts/schabo/SCHABO-Condensed.otf") format("truetype");
}

@font-face {
  font-family: "neue";
  src        : url("../../fonts/neue/NeueMontreal-Regular.otf") format("truetype");
}

@font-face {
  font-family: "neue-medium";
  src        : url("../../fonts/neue/NeueMontreal-Medium.otf") format("truetype");
}

/* general styles */
* {
  margin            : 0;
  padding           : 0;
  box-sizing        : border-box;
  font-family       : "neue";
  text-decoration   : none;
  border            : none;
  outline           : none;
  scroll-behavior   : smooth;
  scroll-padding-top: 70px;
}

/* cursor styles */
.cursor {
  pointer-events  : none;
  position        : absolute;
  padding         : 0.5vw;
  border-radius   : 50%;
  z-index         : 9000;
  transition      : transform 0.1s ease, width 0.3s ease, height 0.3s ease, background-color 0.5s ease;
  background-color: var(--color-white);
}

.light-mode .cursor {
  background-color: var(--color-black);
}

/* line styles */
hr {
  width : 80%;
  margin: 50px auto;
  border: 1px solid var(--color-grey);
}

.light-mode hr {
  border-color: var(--color-semigrey);
}

/* Clase para ocultar elementos por defecto */
.hidden {
  opacity   : 0;
  transform : translateY(20px);
  transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

/* Clase para mostrar los elementos con animación */
.visible {
  opacity  : 1;
  transform: translateY(0);
}

/* scroll icon styles */
.scroll-to-top {
  position        : fixed;
  bottom          : 20px;
  right           : 20px;
  width           : 50px;
  height          : 50px;
  background-color: #fff;
  color           : #333;
  display         : flex;
  align-items     : center;
  justify-content : center;
  border-radius   : 50%;
  text-decoration : none;
  transition      : background-color 0.5s, opacity 0.5s;
  opacity         : 0;
  /* Oculta el botón inicialmente */
  pointer-events  : none;
  /* Desactiva eventos de clic */
  z-index         : 1000;
}

.light-mode .scroll-to-top {
  background-color: #333;
  color           : #fff;
}

/* scroll hover */
.scroll-to-top:hover {
  background-color: #cfcfcf;
}

.light-mode .scroll-to-top:hover {
  background-color: #555;
}

/* body styles */
body {
  margin          : 0;
  padding         : 0;
  font-family     : "neue";
  background-color: var(--color-black);
  color           : var(--color-white);
  display         : flex;
  flex-direction  : column;
  height          : 100vh;
  overflow-x: hidden;
  transition      : background-color 0.5s ease, color 0.5s ease;
}



body.light-mode {
  background: var(--mode-light);
  color     : var(--color-black);
}