/* color palette */

:root {
  --color-main      : #d60b0b;
  --color-secondary : #bb0f0f;
  --color-black     : #151414;
  --color-semiblack : #202020;
  --color-dark      : #0c0b0b;
  --color-light     : #fcfcfc;
  --color-white     : #f3f2f2;
  --color-light-grey: #cfcfcf;
  --color-semigrey  : #565555;
  --color-grey      : #535151;
}

/* Fonts */

@font-face {
  font-family: "aero";
  src        : url("../../fonts/aeroxys/Aeroxys.ttf") format("truetype");
}

@font-face {
  font-family: "schabo";
  src        : url("../../fonts/schabo/SCHABO-Condensed.otf") format("truetype");
}

@font-face {
  font-family: "neue";
  src        : url("../../fonts/neue/NeueMontreal-Regular.otf") format("truetype");
}

@font-face {
  font-family: "neue-medium";
  src        : url("../../fonts/neue/NeueMontreal-Medium.otf") format("truetype");
}

@font-face {
  font-family: "ahsing";
  src        : url("../../fonts/Ahsing/Ahsing-Regular.otf") format("truetype");
}


/* general styles */

* {
  margin            : 0;
  padding           : 0;
  box-sizing        : border-box;
  font-family       : "neue";
  text-decoration   : none;
  border            : none;
  outline           : none;
  scroll-behavior   : smooth;
  scroll-padding-top: 70px;
}

/* cursor styles */

.cursor {
  pointer-events: none;
  position      : absolute;
  padding       : 0.3vw;
  border-radius : 50%;
  z-index       : 9000;
  transition    : transform 0.1s ease, width 0.3s ease, height 0.3s ease,
    background-color 0.5s ease;
  background-color: var(--color-white);
}

.light-mode .cursor {
  background-color: var(--color-black);
}

/* line styles */

hr {
  width : 80%;
  margin: 50px auto;
  border: 1px solid var(--color-grey);
}

.light-mode hr {
  border-color: var(--color-semigrey);
}

/* Class to hide elements by default */

.hidden {
  opacity   : 0;
  transform : translateY(20px);
  transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

/* Class for displaying elements with animation */

.visible {
  opacity  : 1;
  transform: translateY(0);
}

/* scroll icon styles */

.scroll-to-top {
  position        : fixed;
  bottom          : 60px;
  right           : 60px;
  width           : 100px;
  height          : 100px;
  font-size       : 2.5em;
  background-color: transparent;
  color           : var(--color-white);
  display         : flex;
  align-items     : center;
  justify-content : center;
  border-radius   : 50%;
  text-decoration : none;
  border          : 2px solid var(--color-light-grey);
  transition      : width 0.5s, height 0.5s, opacity 0.5s, transform 0.5s ease;
  opacity         : 1;
  pointer-events  : none;
  z-index         : 1000;
}

/* Tamaño reducido cuando se scrollea */
.scroll-to-top.scrolled {
  width         : 50px;
  height        : 50px;
  font-size     : 15px;
  opacity       : 0.8;
  transition    : width 0.5s, height 0.5s, opacity 0.5s, transform 0.5s ease;
  pointer-events: auto;
}

.light-mode .scroll-to-top {
  background-color: var(--color-black);
  color           : var(--color-light);
}



/* banner cookie styles */

.cookie-banner {
  position        : fixed;
  bottom          : 20px;
  left            : 50%;
  transform       : translateX(-50%);
  background-color: var(--color-black);
  color           : var(--color-white);
  padding         : 15px 20px;
  border-radius   : 15px;
  box-shadow      : 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family     : "neue", sans-serif;
  font-weight     : lighter;
  font-size       : 19px;
  display         : flex;
  align-items     : center;
  justify-content : center;
  z-index         : 1000;
}

.cookie-banner p {
  margin       : 0;
  padding-right: 10px;
}

.cookie-banner a {
  color          : var(--color-main);
  font-weight    : bold;
  text-decoration: none;
  cursor         : pointer;
  padding-left   : 5px;
}

.cookie-banner a:hover {
  text-decoration: underline;
}

/* body styles */

body {
  margin          : 0;
  padding         : 0;
  font-family     : "neue";
  background-color: var(--color-dark);
  color           : var(--color-white);
  display         : flex;
  flex-direction  : column;
  height          : 100vh;
  overflow-x      : hidden;
  transition      : background-color 0.5s ease, color 0.5s ease;
}

body.light-mode {
  background: var(--mode-light);
  color     : var(--color-black);
}