/* color palette */
:root {
    --color-main      : #d60b0b;
    --color-secondary : #bb0f0f;
    --color-black     : #151414;
    --color-semiblack : #202020;
    --color-dark      : #0c0b0b;
    --color-light     : #FCFCFC;
    --color-white     : #f3f2f2;
    --color-light-grey: #cfcfcf;
    --color-semigrey  : #757575;
    --color-grey      : #535151;
}

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    font-family     : 'Roboto', sans-serif;
    background-color: var(--color-dark);
    color           : var(--color-light-grey);
    width           : 100%;
    display         : flex;
}

/* Sidebar Navigation */
.sidebar {
    position        : fixed;
    top             : 50%;
    left            : 0;
    transform       : translateY(-50%);
    margin-left     : 50px;
    width           : 60px;
    height          : auto;
    border-radius   : 25px;
    background-color: var(--color-semiblack);
    border          : 1px solid var(--color-grey);
    text-align      : center;
    padding         : 10px 0;
}

.sidebar-nav ul {
    list-style: none;
    padding   : 0;
    margin    : 0;
}

.sidebar-nav ul li {
    margin: 20px 0;
}

.sidebar-nav ul li a {
    text-decoration: none;
    color          : var(--color-light-grey);
    display        : block;
    padding        : 10px;
    transition     : background-color 0.3s ease;
}

.sidebar-nav ul li a:hover {
    color: var(--color-semigrey);
}

.logo i {
    color: var(--color-main);
}

/* Main Content */
.main-content {
    margin-left: 100px;
    /* Para dejar espacio para la barra lateral */
    padding    : 20px;
    flex-grow  : 1;
}

.main-header h1 {
    font-size    : 2.5rem;
    margin-bottom: 10px;
}

.main-header p {
    font-size: 1.2rem;
    color    : #666;
}

/* Dashboard Sections */
.dashboard-sections {
    display        : flex;
    justify-content: space-around;
    gap            : 20px;
    flex-wrap      : wrap;
}

.dashboard-card {
    background-color: var(--color-black);
    border-radius   : 10px;
    border          : 1px solid var(--color-grey);
    padding         : 20px;
    flex            : 1;
    min-width       : 280px;
    max-width       : 400px;
}