:root {
  --color-main      : #d60b0b;
  --color-secondary : #bb0f0f;
  --color-tertiary  : #0046FE;
  --color-quaternary: #3b6ff2;
  --color-black     : #151414;
  --color-semiblack : #202020;
  --color-dark      : #0c0b0b;
  --color-light     : #fcfcfc;
  --color-white     : #f3f2f2;
  --color-light-grey: #cfcfcf;
  --color-semigrey  : #565555;
  --color-grey      : #535151;
}

@font-face {
  font-family: "aero";
  src        : url("../../fonts/aeroxys/Aeroxys.ttf") format("truetype");
}

@font-face {
  font-family: "schabo";
  src        : url("../../fonts/schabo/SCHABO-Condensed.otf") format("truetype");
}

@font-face {
  font-family: "neue";
  src        : url("../../fonts/neue/NeueMontreal-Regular.otf") format("truetype");
}

@font-face {
  font-family: "neue-medium";
  src        : url("../../fonts/neue/NeueMontreal-Medium.otf") format("truetype");
}

@font-face {
  font-family: "ahsing";
  src        : url("../../fonts/Ahsing/Ahsing-Regular.otf") format("truetype");
}

/* General */
* {
  box-sizing : border-box;
  margin     : 0;
  padding    : 0;
  font-family: Arial, sans-serif;
}

body {
  display         : flex;
  height          : 100vh;
  overflow        : hidden;
  background-color: var(--color-dark);
  color           : var(--color-white);
}

/* Sidebar */
.sidebar {
  border-right    : 1px solid var(--color-grey);
  width           : 200px;
  height          : 100vh;
  background-color: var(--color-black);
  color           : var(--color-white);
  padding         : 20px;
  display         : flex;
  flex-direction  : column;
  transition      : width 0.3s;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar h2 i {
  color        : var(--color-secondary);
  font-size    : 1.2em;
  margin-bottom: 20px;
  margin-top   : 30px;
  text-align   : center;
  transition   : color 0.3s ease;
}

.sidebar h2 i:hover {
  color: var(--color-main);
}

.sidebar nav {
  margin-top: 150%;
}

.sidebar nav a {
  display        : flex;
  align-items    : center;
  padding        : 10px;
  color          : var(--color-white);
  border         : 1px solid var(--color-grey);
  text-decoration: none;
  font-size      : 16px;
  margin-bottom  : 20px;
  border-radius  : 4px;
  transition     : background-color 0.5s, border 0.5s ease;
  user-select    : none;
}

.sidebar nav a.active {
  border          : 1px solid var(--color-light-grey);
  background-color: var(--color-secondary);
}

.sidebar nav a:hover {
  border          : 1px solid var(--color-light-grey);
  background-color: var(--color-semigrey);
}

.sidebar nav a .icon {
  margin-right: 10px;
}


/* Main Content */
.main-content {
  flex      : 1;
  padding   : 20px;
  overflow-y: auto;
}

/* Alinear el header a la derecha */
.main-content header {
  display        : flex;
  justify-content: flex-end;

}

.user-profile {
  display       : flex;
  align-items   : center;
  margin-bottom : 20px;
  padding-bottom: 10px;
  margin-left   : auto;
}

.user-profile .user {
  font-size       : 1.5em;
  background-color: var(--color-semiblack);
  padding         : 8px;
  border          : 1px solid var(--color-light-grey);
  border-radius   : 50%;
  margin-right    : 10px;
}

/* Alinear el icono de configuración con margen */
.user-profile .settings {
  margin-left    : 10px;
  font-size      : 1.5em;
  text-decoration: none;
  color          : var(--color-white);
}

/* Modal */
.modal {
  display         : none;
  /* Oculto por defecto */
  position        : fixed;
  z-index         : 1;
  left            : 0;
  top             : 0;
  width           : 100%;
  height          : 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Contenido del Modal */
.modal-content {
  background-color: #333;
  color           : #fff;
  margin          : 15% auto;
  padding         : 20px;
  border-radius   : 8px;
  width           : 80%;
  max-width       : 400px;
  text-align      : center;
  user-select     : none;
}

.close {
  color      : #aaa;
  float      : right;
  font-size  : 28px;
  font-weight: bold;
  cursor     : pointer;
}

.close:hover,
.close:focus {
  color          : #fff;
  text-decoration: none;
  cursor         : pointer;
}



.container {
  max-width: 600px;
  margin   : auto;
}

h2 {
  text-align   : center;
  margin-bottom: 20px;
  user-select  : none;
}

.section-header h2 {
  font-size  : 4.2em;
  color      : var(--color-secondary);
  font-weight: lighter;
  user-select: none;
}

#fetch-networks {
  display: block;
  margin : auto;
}

.list-group-item {
  list-style      : none;
  border          : 1px solid var(--color-grey);
  border-radius   : 8px;
  padding         : 10px;
  margin-bottom   : 10px;
  cursor          : pointer;
  background-color: var(--color-black);
  transition      : background-color 0.5s ease;
  user-select     : none;
}

.list-group-item:hover {
  background-color: var(--color-semigrey);
}

.network-details {
  display         : none;
  /* Inicialmente oculto */
  margin-top      : 10px;
  padding         : 10px;
  background-color: var(--color-black);
  border          : 1px solid var(--color-light-grey);
  border-radius   : 5px;
}

#loading-spinner .spinner-border {
  width : 3rem;
  height: 3rem;
}

#loading-spinner p {
  margin-top: 10px;
  font-size : 1.1rem;
  color     : var(--color-white);
  /* Color azul primario de Bootstrap */
}


.content-wrapper {
  display: flex;
  gap    : 20px;
}

.relative-container {
  position: relative;
  width   : 100%;
}

.wifi-section {
  width           : 100%;
  height          : 100%;
  background-color: var(--color-black);
  border          : 1px solid var(--color-grey);
  padding         : 20px;
  border-radius   : 5px;
  overflow-y      : auto;
  transition      : border 0.5s ease;
  /* Habilita el scroll vertical si el contenido sobrepasa la altura */
}

.wifi-section:hover {
  border: 1px solid var(--color-light-grey);
}

.wifi-section button {
  padding         : 10px;
  background-color: var(--color-semiblack);
  color           : var(--color-white);
  border          : 1px solid var(--color-grey);
  border-radius   : 5px;
  cursor          : pointer;
  transition      : background-color 0.5s ease, border 0.5s ease;
}

.wifi-section button:hover {
  background-color: var(--color-semigrey);
  border          : 1px solid var(--color-light-grey);
}

.wifi-section h2 {
  text-align : center;
  font-family: "neue-medium";
  font-size  : 1.8em;
  font-weight: lighter;
}

.wifi-section i {
  font-size : 2em;
  text-align: center;
}


.accordion-section {
  width         : 50em;
  display       : flex;
  flex-direction: column;
  gap           : 10px;
}

.accordion-item {
  border       : 1px solid var(--color-grey);
  padding      : 10px;
  border-radius: 8px;
  transition   : background-color 0.5s ease, border 0.5s ease;
}

.accordion-item:hover {
  background-color: var(--color-semiblack);
  border          : 1px solid var(--color-light-grey);
}

.accordion-title {
  font-size      : 18px;
  color          : var(--color-secondary);
  cursor         : pointer;
  display        : flex;
  align-items    : center;
  justify-content: center;
  margin         : auto;
}

.accordion-content {
  margin-top      : 10px;
  display         : none;
  padding         : 10px;
  background-color: #444;
  color           : #fff;
  border-top      : 1px solid #555;
  max-height      : 150px;
  user-select     : none;
  /* Altura máxima del acordeón desplegado */
  overflow-y      : auto;
  /* Agrega una barra de desplazamiento si el contenido es demasiado largo */
}


.accordion-content p {
  margin: 5px 0;
}

.icon {
  margin-right: 10px;
  color       : var(--color-white);
}